

.jumbotron{
	margin-top: 100px
}

.bg1{
	background-image: url("img/IMG-20220121-WA0002.jpg");
	background-size: 370px;
	background-repeat: no-repeat;
	padding: 220px
}

.bg2{
	background-image: url("img/IMG20220124101036-01.jpeg");
	background-size: 300px;
	background-repeat: no-repeat;
	padding: 220px
}

p#head.text-wrap.text-lg-start.fs-5.mt-5{
	margin-top: 700px
}

a .nav-link {
	color: #73c5ff
}

#services {
	margin-top: 25px;
	margin-bottom: 80px;
}

#contact{
	margin-top: 50px;
}
